.libro {
  width: 70%;
  margin: 1rem auto;
  border: groove 2px black;
}

.contenedorSuperior {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerOtro, .headerIndex, .footerIndex {
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
}

.footerIndex {
  background-image: url(../img/biblio3.png);
  height: 112vh;
}

footer li {
  color: rgb(255, 255, 255);
}

.listado {
  padding: 0.5rem;
  border: solid 2px white;
}

.listado ul {
  margin: 0;
}

.botonFooter {
  width: 12rem;
  height: 3rem;
  margin: 0.5rem 0;
  transition: 0.5s;
}
.botonFooter:hover {
  transform: scale(1.2);
}

.cierre {
  padding: 1rem;
  border: solid 2px white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.derechos {
  text-align: center;
  color: rgb(202, 177, 177);
  margin-top: 0.1rem;
}

.presentacion {
  display: flex;
  max-width: 20rem;
  margin: 0 auto;
  text-align: justify;
}

.contenedorPres {
  background-image: url(../img/biblio4.jpg);
  width: 100%;
  padding: 2rem;
}

.headerIndex {
  background-image: url(../img/biblio.jpeg);
  height: 110vh;
}

.botonHeader {
  width: 8rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: 0.5s;
}
.botonHeader:hover {
  transform: scale(1.2);
}

li {
  display: flex;
  justify-content: center;
}

.contenedorGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  text-align: justify;
  margin-top: 1rem;
  grid-column: initial;
  justify-items: center;
}

.item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item3 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.item1 img, .item2 img, .item3 img {
  width: 200px;
  transition: 0.5s;
}
.item1 img:hover, .item2 img:hover, .item3 img:hover {
  transform: scale(1.1);
}

.item4 {
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 2rem;
}

.item5 {
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 2rem;
}

.item6 {
  grid-column: 2/4;
  grid-row: 3/4;
  padding: 2rem;
}

.item4, .item5, .item6 {
  transition: 0.5s;
}
.item4:hover, .item5:hover, .item6:hover {
  background-color: rgba(46, 92, 126, 0.736);
}

.catalogo {
  width: 20%;
  margin: 1rem auto;
  border: groove 2px black;
  transition: 0.5s;
}
.catalogo:hover {
  background-color: rgba(128, 128, 128, 0.736);
  transform: scale(1.1);
}

.headerOtro {
  background-image: url(../img/biblio.jpeg);
  height: 70vh;
}

.subtitulo {
  font-size: 6rem;
}

.contenedorFlex {
  display: flex;
  flex-direction: row;
  max-width: 100rem;
  flex-wrap: wrap;
  gap: 3rem;
}

.subtitulo2 {
  font-size: 6rem;
}

.form-label {
  font-size: 1.5rem;
  font-weight: 500;
}

.contenedorForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.col-auto {
  margin-top: 1rem;
  transition: 0.5s;
}
.col-auto:hover {
  transform: scale(1.5);
}

.form-range {
  transition: 0.5s;
}
.form-range:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 700px) {
  .headerIndex {
    background-image: url(../img/biblio2.jpg);
  }
  .headerOtro {
    background-image: url(../img/biblio2.jpg);
  }
  .libro {
    max-width: 40%;
  }
  .contenedorInferior {
    display: flex;
    flex-wrap: wrap;
  }
  .footerIndex {
    height: 117vh;
  }
}
@media only screen and (max-width: 700px) {
  .catalogo {
    width: 30%;
  }
  .contenedorFlex {
    gap: 0.5rem;
  }
  .subtitulo {
    font-size: 4rem;
  }
  .subtitulo2 {
    font-size: 3rem;
  }
  .item4, .item5, .item6 {
    padding: 0;
  }
}
* {
  font-family: "Fira Sans", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
