.form-label {
    font-size: 1.5rem;
    font-weight: 500;
}

.contenedorForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;    
}

.col-auto {
    margin-top: 1rem;
    transition: 0.5s;
    &:hover {
        transform: scale(1.5);
    }
}

.form-range {
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
}
}