.presentacion {
    display: flex;
    max-width: 20rem;
    margin: 0 auto;
    text-align: justify;
  
}
.contenedorPres {
    background-image: url(../../img/biblio4.jpg);
    width: 100%;
    padding: 2rem;
 }