%flexBasico {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
%Fondo {
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
}