@media only screen and (min-width: 700px){
    .headerIndex {
        background-image: url(../../img/biblio2.jpg);
    } 
    .headerOtro {
        background-image: url(../../img/biblio2.jpg);
    } 
    .libro {
        max-width: 40%;
    }
    .contenedorInferior {
        display: flex;
        flex-wrap: wrap;
    }
    .footerIndex {
        height: 117vh;
    }

    }

@media only screen and (max-width: 700px){

    .catalogo{
        width: 30%; }

    .contenedorFlex {
        gap: .5rem;
     }
     .subtitulo {
        font-size: 4rem;
    }
    .subtitulo2 {
        font-size: 3rem;
    }
         }