.footerIndex {
    background-image: url(../../img/biblio3.png);
    height: 110vh;
    @extend %Fondo
}
footer li {
    color: $colorPrimario;
}
.listado {
    padding: .5rem;
    border:  solid 2px white;
}
.listado ul {
    margin: 0;
}

.botonFooter {
    width: 12rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    transition: 0.5s;
    justify-content: center;
    &:hover {
        transform: scale(1.2);
    }
}
.cierre {
    padding: 1.7rem;
    border:  solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    gap: 1rem;
}

.derechos {
    text-align: center;
    color: rgb(202, 177, 177);
}