.headerIndex {
    background-image: url(../../img/biblioteca.jpeg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 110vh;
    position: relative;
}

@media only screen and (min-width: 700px){
.headerIndex {
    background-image: url(../../img/biblioteca2.jpg);
} 
.libro {
    max-width: 40%;
}
.contenedorInferior {
    display: flex;
    flex-wrap: wrap;
}
}
    
.contenedorSuperior {
    @extend %flexBasico
}
.botonHeader {
    width: 8rem;
    padding: .5rem 1rem;
    margin: .5rem 0;
    transition: 0.5s;
    &:hover {
        transform: scale(1.2);
    }
}
li {
    display: flex;
    justify-content: center;
}